<h1>Maltabar brewery</h1>
<img src="http://www.beer100.com/images/beermug.jpg">

<h2>Heater control</h2>
<button ng_click="heaterOn()">On</button>
<button ng_click="heaterOff()">Off</button>
Heating: <div class="checkbox" ng_click="toggleHeater()">
<input type="checkbox" name="heating_cb" ng-model="model.heating">
</div>

<h2>Temperature probes</h2>
<ul>
    <li ng-repeat="probe in model.temperatures">
        <p>Name: {{probe.name}}, temperature: {{probe.temperature | number:1}}</p>
        <wij-radialgauge value="{{probe.temperature}}" min="0" max="100" animation="disabled" start-angle="-60" sweep-angle="300">
        </wij-radialgauge>
    </li>
</ul>